/* global*/
body
{
	padding-top: 54px;
	background-image:url(img/Banner1.png)
}
@media(min-width: 992px){
	body{
		padding-top: 56px;
	}
}


.portfolio-item{
	margin-bottom: 30px;

}

/* end of global*/

/* */
.bg-dark {
    background-color: Navy!important;
}

?/*Call to avction */
.btn-secondary:hover {
    color: #fff;
    background-color: #000080;
    border-color: #000080;
}